<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-voice-intent" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>iOSAndroidIntent</name>
    <js-module name="iOSAndroidIntent" src="www/iOSAndroidIntent.js">
        <clobbers target="cordova.plugins.iOSAndroidIntent" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="iOSAndroidIntent">
                <param name="ios-package" value="iOSAndroidIntent" />
            </feature>
        </config-file>
        <source-file src="src/ios/iOSAndroidIntent.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="iOSAndroidIntent">
                <param name="android-package" value="com.louisvillegeek.iOSAndroidIntent.iOSAndroidIntent" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/iOSAndroidIntent.java" target-dir="src/com/louisvillegeek/iOSAndroidIntent/iOSAndroidIntent" />
        <hook src="hooks/after_platform_add/android_manifest_prepare.js" type="after_prepare" />
    </platform>
</plugin>